(
    generation_length : 500
,   min_population    : 5
,   fertility_rate    : 2
,   exit_at_generation: Some(5)
,   start_state : Fastest
,   dump_debug_info: false
,   environment:(
        width  : 500
    ,   height : 300
    ,   wall   : true
    ,   food_spawn_rate   : 0.2
    ,   food_decay_time   : 1000
    ,   food_energy       : 10000
    )
,   organisms: (
        eye_fov_angle_crad: Fixed(314)
    ,   eye_fov_range: Fixed(250)
    ,   eye_energy_cost: 0.000
    ,   n_eye_cells: Fixed(9)
    ,   see_foods:   true
    ,   see_walls:   false
    ,   see_organisms: false
    ,   starting_energy: 10000
    ,   maximum_energy: 40000
    ,   linear_locomotion: Fixed(4)
    ,   linear_cost: 0.000
    ,   angular_cost: 0.000
    ,   body_cost: 6
    )
)