(
   environment:(
        width  : 350
    ,   height : 300
    ,   wall   : true
    )
,   organisms: [
        (
            name : "Herbivore"
        ,   eye: Some(EyeConfig (
                fov_angle: Fixed(3.14)
            ,   fov_range: Fixed(250)
            ,   energy_cost: 0.000
            ,   n_cells: Fixed(9)
            ))
        ,   body: (
                starting_energy: 1000
            ,   maximum_energy: 4000
            ,   body_cost: 6
        )
        ,   mouth: Some( MouthConfig(
            reach: 10.0,
            edible: ["Plant"],
        ))
        ,   locomotion: Some( LocomotionConfig(
                linear: Fixed(4)
            ,   linear_cost: 0.000
            ,   angular_cost: 0.000
            ))
        ,   reproduction: EndOfGenerationEvolution(
                generation_length : 500
            ,   min_population    : 5
            ,   fertility_rate: 2
            ,   mutation_chance: 0.01
            ,   mutation_amplitude: 0.3
        )
        , visualization: (
            hue:300.0,
            sprite_file: "bird.png",
            sprite_size: (20.0,20.0),
        )
        )
    , (
            name : "Plant"
        ,   eye: None
        ,   body: (
                starting_energy: 1000
            ,   maximum_energy: 4000
            ,   body_cost: 40
        )
        , leaf: Some(LeafConfig(
                lifetime: 50
            ,   energy_production: 60
        ))
        ,   reproduction: AutoSpawn(
                spawn_rate : 0.2
        )
        , visualization: (
            hue: 120.0,
            sprite_file: "food.png",
            sprite_size: (8.0,8.0),
        )
    )
    ] 
)