(
   environment:(
        width  : 350
    ,   height : 300
    ,   wall   : true
    )
,   species: [
        (
            name : "Herbivore"
        ,   minimum_population : 5
        ,   eye: Some(EyeConfig (
                fov_angle: Fixed(3.14)
            ,   fov_range: Fixed(100)
            ,   energy_cost: 0.000
            ,   n_cells: Fixed(9)
            ,   visible: ["Plant"]
            ))
        ,   body: (
                starting_energy: 1000
            ,   maximum_energy: 4000
            ,   body_cost: 6
        )
        ,   mouth: Some( MouthConfig(
                reach: 10.0,
                edible: ["Plant"],
        ))
        ,   uterus: Some( UterusConfig(
                mating_distance: 5.0,
        ))
        ,   locomotion: Some( LocomotionConfig(
                linear: Fixed(4)
            ,   linear_cost: 0.0
            ,   angular_cost: 0.0
            ))
        ,   reproduction: GenerationEvolution(
                generation_length : 500
            ,   fertility_rate: 1.5
            ,   mutation_chance: 0.01
            ,   mutation_amplitude: 0.3
            ,   child_spawn_distance: Some(20.0)
        )
        , visualization: (
            hue:300.0,
            sprite_file: "bird.png",
            sprite_size: (10.0,10.0),
        )
        )
    , (
            name : "Plant"
        ,   body: (
                starting_energy: 1000
            ,   maximum_energy: 4000
            ,   body_cost: 40
        )
        ,   leaf: Some(LeafConfig(
                lifetime: 50
            ,   energy_production: 60
        ))
        ,   reproduction: AutoSpawn(
                spawn_rate : 0.2,
                minimum_distance_from_eater: 20,
        )
        , visualization: (
            hue: 120.0,
            sprite_file: "food.png",
            sprite_size: (8.0,8.0),
        )
    )
    ], 
    statistics: (
        aggregation_rate: Some(1000),
        aggregation_start: Some(0),
    ) 
)
