(
    generation_length : 5000
,   start_population  : 100
,   min_population    : 50
,   fertility_rate    : 1.05
,   death_threshold   : 1
,   environment:(
        width  : 3500
    ,   height : 2000
    ,   wall   : true
    ,   food_spawn_rate   : 0.2
    ,   food_decay_time   : 1000
    )
,   animals: (
        //n_eye_cells: Gene(min:1,max:15)
        eye_fov_angle: Gene(min:0.1,max:4.71)
    ,   n_eye_cells: Fixed(9)
    ,   see_foods:   true
    ,   see_walls:   true
    ,   see_animals: true
    )
)